header {
    border-color: black;
    background-color:grey; 
    padding: 2px;
    height: 70px;
    text-align: right;
    padding-right: 10px;
}









footer {                                                                                                                                                                                                                                                                                                                                                                  
    text-align: center;
    color: white;
    background-color: lightgray;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    top: 1000px
}