body {
    background-color: white;
    color: grey;
}

.dark-mode {
    background-color: black;
    color: white;
}

header {
    border-color: black;
    background-color:grey; 
    padding: 2px;
    height: 70px;
    text-align: right;
    padding-right: 10px;
}

section {
    position: relative;
    display: block;
    font-size: 22px;
}

section h2 {
    font-family: Brush Script MT;
    color: grey;
    font-weight: 500;
    font-size: 56px;
    position: absolute;
    padding-left: 20px
}

section h3 { 
    text-align: left;
    font-family: Brush Script MT;
    color: grey;
}

section h4 {
    text-align: center;
}

.thoughts {
    width: 45%;
    position: relative;
    left: 610px;
    bottom: 603px;
}

.container [type=text] {
    padding: 12px 20px;
    margin: 13px 0;
    display: inline-block;  
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.container {
    position: relative;
    left: 630px;
    bottom: 622px;
    width: 0px;
    font-family: Brush Script MT;
    color: grey;
}

footer {                                                                                                                                                                                                                                                                                                                                                                  
    text-align: center;
    color: white;
    background-color: lightgray;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    bottom: 0px;
}
